<app-header1></app-header1>
<!--====== Banner part start ======-->
	<section class="banner-section">
		<div class="banner-slider" id="bannerSlider">
			<div class="single-banner" style="background-image: url(assets/img/banner/01.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner-content">
							
								<h1 data-animation="fadeInUp" data-delay="1s">
									Let's connect for <br> Business
								</h1>
								<ul class="btn-wrap">
									<li data-animation="fadeInLeft" data-delay="1.2s">
										<a href ="https://apps.apple.com/us/app/jcom/id1582305234" target="_blank"><img src="assets/img/appstore.png" style="width: 150px;margin-top: 10px;" alt="Image"></a> 
										<a href="https://play.google.com/store/apps/details?id=com.jcom" target="_blank"> <img src="assets/img/googleplay.png" style="width: 150px;margin-top: 10px;margin-left: 10px;"  alt="Image"></a>
																	  
									</li>
									<!-- <li data-animation="fadeInRight" data-delay="1.4s">
										<a routerLink='/service-one' class="main-btn main-btn-2">Our Services</a>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="banner-shapes">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
					<div class="four"></div>
				</div>
			</div>
			<div class="single-banner" style="background-image: url(assets/img/banner/02.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner-content">
							
								<h1 data-animation="fadeInUp" data-delay="1s">
									Grow Your Business<br> With JCOM
								</h1>
								<ul class="btn-wrap">
									<li data-animation="fadeInLeft" data-delay="1.2s">
										<a href ="https://apps.apple.com/us/app/jcom/id1582305234" target="_blank"><img src="assets/img/appstore.png" style="width: 150px;margin-top: 10px;" alt="Image"></a> 
										<a href="https://play.google.com/store/apps/details?id=com.jcom" target="_blank"> <img src="assets/img/googleplay.png" style="width: 150px;margin-top: 10px;margin-left: 10px;"  alt="Image"></a>
																	  
									</li>
									<!-- <li data-animation="fadeInRight" data-delay="1.4s">
										<a routerLink='/service-one' class="main-btn main-btn-2">Our Services</a>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="banner-shapes">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
					<div class="four"></div>
				</div>
			</div>
			<div class="single-banner" style="background-image: url(assets/img/banner/01.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner-content">
							
								<h1 data-animation="fadeInUp" data-delay="1s">
									Connecting Business Worldwide
								</h1>
								<ul class="btn-wrap">
									<li data-animation="fadeInLeft" data-delay="1.2s">
										<a href ="https://apps.apple.com/us/app/jcom/id1582305234" target="_blank"><img src="assets/img/appstore.png" style="width: 150px;margin-top: 10px;" alt="Image"></a> 
										<a href="https://apps.apple.com/us/app/jcom/id1582305234" target="_blank"> <img src="assets/img/googleplay.png" style="width: 150px;margin-top: 10px;margin-left: 10px;"  alt="Image"></a>
																	  
									</li>
									<!-- <li data-animation="fadeInRight" data-delay="1.4s">
										<a routerLink='/service-one' class="main-btn main-btn-2">Our Services</a>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="banner-shapes">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
					<div class="four"></div>
				</div>
			</div>
		</div>

		<div class="search-wrap">
			<a routerLink='/' class="search-icon"><i class="far fa-search"></i></a>
		</div>
	</section>


	<section class="fact-section grey-bg">
		<div class="container">
			<div class="fact-boxes row justify-content-between align-items-center">
				<div class="col-lg-3 col-6">
					<div class="fact-box text-center mb-40">
						<div class="icon">
							<i class="flaticon-graphic"></i>
						</div>
						<h2>{{tables}}</h2>
						<p class="title">Tables</p>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<div class="fact-box text-center mb-40">
						<div class="icon">
							<i class="flaticon-teamwork"></i>
						</div>
						<h2>{{members}}</h2>
						<p class="title">Members</p>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<div class="fact-box text-center mb-40">
						<div class="icon">
							<i class="flaticon-target-1"></i>
						</div>
						<h2>{{connect}}</h2>
						<p class="title">Connects</p>
					</div>
				</div>
				<div class="col-lg-3 col-6">
					<div class="fact-box text-center mb-40">
						<div class="icon">
							<i class="flaticon-plan"></i>
						</div>
						<h2>{{gnote}}</h2>
						<p class="title">G-Note</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Banner part end ======-->

	<!--====== About Section start ======-->
	<section class="about-section about-illustration-img section-gap">
		<div class="container">
			<div class="illustration-img">
				<img src="assets/img/illustration/01.png" alt="Image">
			</div>
			<div class="row no-gutters justify-content-lg-end justify-content-center">
				<div class="col-lg-6 col-md-10">
					<div class="about-text">
						<div class="section-title left-border mb-40">
							<span class="title-tag">About Us</span>
							<h2 class="title">Jaycees Chamber of Commerce</h2>
						</div>
						<p class="mb-25">
							JCOM is a Business area program exclusively for JCI members.
						</p>
						<p>
							The objective of the program is to develop the business opportunity of JCI     members through networking 						</p>
						<ul class="about-list">
						
						</ul>
						<a routerLink='/about' class="main-btn">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<!--====== About Section end ======-->

	<!--====== Service Part Start ======-->
	<section class="service-section shape-style-one section-gap grey-bg">
		<div class="container">
			<!-- Section Title -->
			<div class="section-title text-center both-border mb-30">
				<!-- <span class="title-tag">Comany Services</span> -->
				<h2 class="title">What is JCOM ?</h2>
				<h4>We Provide Most Exclusive Business Opportunities for JCI Members</h4>
			</div>
			<!-- Services Boxes -->
			<div class="row service-boxes justify-content-center">
				<div class="col-lg-3 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInLeft" data-wow-duration="1500ms"
					data-wow-delay="400ms">
					<div class="service-box text-center">
						<div class="icon">
							<img src="assets/img/icons/02.png" alt="Icon">
						</div>
						<h3><a routerLink='/'>GROWTH
							CALL</a></h3>
						<a routerLink='/' class="service-link">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInUp" data-wow-duration="1500ms"
					data-wow-delay="600ms">
					<div class="service-box text-center">
						<div class="icon">
							<img src="assets/img/icons/04.png" alt="Icon">
						</div>
						<h3><a routerLink='/'>SOLUTION
							BOARD</a></h3>
						<a routerLink='/' class="service-link">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInRight" data-wow-duration="1500ms"
					data-wow-delay="800ms">
					<div class="service-box text-center">
						<div class="icon">
							<img src="assets/img/icons/03.png" alt="Icon">
						</div>
						<h3><a routerLink='/'>SCHOOLING <br></a></h3>
						<a routerLink='/' class="service-link">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-8 col-10 col-tiny-12 wow fadeInRight" data-wow-duration="1500ms"
					data-wow-delay="800ms">
					<div class="service-box text-center">
						<div class="icon">
							<img src="assets/img/icons/01.png" alt="Icon">
						</div>
						<h3><a routerLink='/'>STRATEGIC
							PARTNERSHIP</a></h3>
						<a routerLink='/' class="service-link">
							<i class="fal fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="dots-line">
			<img src="assets/img/lines/07.png" alt="Image">
		</div>
	</section>
	<!--====== Service Part End ======-->

	<!--====== Video Start ======-->
	<section class="video-section bg-img-c section-gap" style="background-image: url(assets/img/video-bg/video-1.jpg);">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-xl-7 col-lg-8 col-md-10 order-2 order-md-1">
					<div class="video-text">
						<div class="section-title left-border mb-30">
							<!-- <span class="title-tag">Watch Videos</span> -->
							<h2 class="title">
								See How JCOM Works
							</h2>
						</div>
						<p>
							JCOM Table meets every week for Business Development of it’s members.
						</p>
						<a routerLink='/table' class="main-btn">Browse JCOM Tables</a>
					</div>
				</div>
				<div class="col-lg-3 col-lg-4 col-md-2 order-1 order-md-2">
					<div class="video-btn text-md-center wow fadeInUp" data-wow-duration="1500ms"
						data-wow-delay="400ms">
						<a routerLink='/' class="play-btn popup-video">
							<img src="assets/img/icons/play.svg" alt="">
							<i class="fas fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="line-shape">
			<img src="assets/img/lines/08.png" alt="Line">
		</div>
	</section>
	<!--====== Video end ======-->
	<section class="team-section section-gap">
		<div class="container">
			<!-- Section Title -->
			<div class="section-title both-border text-center">
				<!-- <span class="title-tag">Meet Our </span> -->
				<h2 class="title">#Let Us Connect 4 Business</h2>
			</div>
		</div>
	</section>		

	<!--====== Why Choose Us Part Start ======-->
	<section class="wcu-section box-style">
		<div class="container">
			<div class="wcu-inner">
				<div class="row align-items-center justify-content-center">
					<div class="col-lg-6">
						<div class="wcu-image text-center text-lg-left wow fadeInUp" data-wow-duration="1500ms"
							data-wow-delay="400ms">
							<img src="assets/img/illustration/02.png" alt="Image">
						</div>
					</div>
					<div class="col-lg-6 col-md-10">
						<div class="wcu-text">
							<div class="section-title left-border mb-40">
								<span class="title-tag">Who Can Join</span>
								<h2 class="title">Want to be a Part of JCOM?</h2>
							</div>
							<p>
								Members are individuals who are either active or associate or Alumni members of JCI, admitted in JCOM and have paid the current year subscription of JCOM							</p>
							<ul class="wcu-list">
								<!-- <li>
									<i class="far fa-check-circle"></i> Specialist Company Advisor Team
								</li>
								<li>
									<i class="far fa-check-circle"></i> Understanding Machines OpenS tandard

								</li>
								<li>
									<i class="far fa-check-circle"></i> Can Data Visualization Improve Mobile
								</li> -->
							</ul>

							
							<a href ="https://apps.apple.com/us/app/jcom/id1582305234" target="_blank"><img src="assets/img/appstore.png" style="width: 150px;margin-top: 10px;" alt="Image"></a> 
							<a href="https://play.google.com/store/apps/details?id=com.jcom" target="_blank"> <img src="assets/img/googleplay.png" style="width: 150px;margin-top: 10px;margin-left: 10px;"  alt="Image"></a>
														  
						 
						</div>
					</div>
				</div>
				<img src="assets/img/lines/03.png" alt="shape" class="line-shape-one">
				<img src="assets/img/lines/04.png" alt="shape" class="line-shape-two">
			</div>
		</div>
	</section>
	<!--====== Why Choose Us Part End ======-->

	<!--====== Fact Part Start ======-->

	<!--====== Fact Part End ======-->

	<!--====== Team Section Start ======-->
	<section class="team-section section-gap">
		<div class="container">
			<!-- Section Title -->
			<div class="section-title mb-40 both-border text-center">
				<!-- <span class="title-tag">Meet Our </span> -->
				<h2 class="title">Leadership Team</h2>
			</div>

			<!-- Team Boxes -->
			<div class="row team-members" id="teamSliderOne">
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/NP- JC RAKHI JAIN1.jpg" alt="TeamMember">
						</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink=''>Jc Rakhi jain</a></h3>
							<span class="pro">National President</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/IPNP- ANISH C MATHEW2.jpg" alt="TeamMember">
								
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JCI Sen. ANISH C MATHEW</a></h3>
							<span class="pro">Imm. Past National President
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/SG- BENEDICT K.M3.jpg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>MR. BENEDICT K.M.</a></h3>
							<span class="pro">Secretary General
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/chair.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JFS Didarjit Singh Lotey</a></h3>
							<span class="pro">NATIONAL CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="row team-members" id="teamSliderOne">
				
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/NOMC Mathivanan.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>MR. Mathivanan.</a></h3>
							<span class="pro">NOM Coodinator
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/1 Jc. Sajeev Gupta Zone 1.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>Jc. Sajeev Gupta.</a></h3>
							<span class="pro">ZONE I CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/2 JC REKHA RATHORE.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC REKHA RATHORE</a></h3>
							<span class="pro">ZONE II CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/3 JC ASHWANI  KUMAR.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC ASHWANI  KUMAR</a></h3>
							<span class="pro">ZONE III CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/4 Jc. Madhuri Zone 4.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Madhuri</a></h3>
							<span class="pro">ZONE VI CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/5 jc rajat arya.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Rajat Arya</a></h3>
							<span class="pro">ZONE V CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/6 JC PRAKASH LOKWANI.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC PRAKASH LOKWANI</a></h3>
							<span class="pro">ZONE VI CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/7 Jc Manish Mehta Zone 7.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Manish Mehta</a></h3>
							<span class="pro">ZONE VII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/8 JC KOMALKUMAR SHAH.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC KOMALKUMAR SHAH</a></h3>
							<span class="pro">ZONE VIII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/Jc abnish agarwal.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Abnish Agrawal</a></h3>
							<span class="pro">ZONE IX CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/10 JC SANJAY DHAWAN.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC SANJAY DHAWAN</a></h3>
							<span class="pro">ZONE X CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/11 Jc. Senoy Cardozo Zone 11.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Senoy Cardozo</a></h3>
							<span class="pro">ZONE XI CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/12 JC. DILIP CHITLANGIYA.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC DILIP CHITLANGIYA</a></h3>
							<span class="pro">ZONE XII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/13 JC MEGHNAD JANI.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC MEGHNAD JANI</a></h3>
							<span class="pro">ZONE XIII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/14 Jc. Preetham Shenoy Zone 14.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Preetham Shenoy</a></h3>
							<span class="pro">ZONE XIV CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/15 Jc. John R D'Silva.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC John R D'Silva</a></h3>
							<span class="pro">ZONE XV CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/16 jc senthil murugan.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Senthil Murugan</a></h3>
							<span class="pro">ZONE XVI CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/17 Jc. Sivasubramaniam Zone 17.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Sivasubramaniam</a></h3>
							<span class="pro">ZONE XVII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/18 JFM V.Brabu.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JFM V.Brabu</a></h3>
							<span class="pro">ZONE XVIII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/19 JCI SEN ADV JOMY JOSEPH Zone 19.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JCI SEN ADV JOMY JOSEPH</a></h3>
							<span class="pro">ZONE XIX CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/20 JCI PPP Ajmal.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC PPP Ajmal</a></h3>
							<span class="pro">ZONE XX CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/21 Jc Venugopal zone 21.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Venugopal</a></h3>
							<span class="pro">ZONE XXI CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/22 Jc. Satheesh Ambadi Zone 22.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Satheesh Ambadi</a></h3>
							<span class="pro">ZONE XXII CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/24 JC PAVAN KUMAR.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC PAVAN KUMAR</a></h3>
							<span class="pro">ZONE XXIV CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="team-member">
						<div class="member-picture-wrap">
							<div class="member-picture">
								<img src="assets/img/team/25 jc nitin agarwal.jpeg" alt="TeamMember">
							
							</div>
						</div>
						<div class="member-desc">
							<h3 class="name"><a routerLink='/'>JC Nitin Agarwal</a></h3>
							<span class="pro">ZONE XXV CHAIRMAN
							</span>
						</div>
					</div>
				</div>
				
			</div>
		
		</div>
	</section>
	<!--====== Team Section End ======-->


	<!--====== Latest Post Start ======-->
	<app-footer1></app-footer1>