<app-header1></app-header1>

    <section class="faq-section section-gap">
        <div class="container">
            <!-- FAQ Page Title -->
            <div class="row faq-page-title mb-60 align-items-center">
                <div class="col-lg-12">
                    <div class="section-title left-border">
                         <h2 class="title">Training</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <br>
                    <br>
                    <p>
                        <i class="fas fa-check"></i>  
                        All new members must attend the Member orientation Program in their Zone   within the first 60 days of joining. Only after attending the training may the new member is added to the 'speaker rotation' for that Table. Any new members not attending the training within 60 days of induction into the Table will be subject to having their classification opened by the Executive Board.
                    </p>
                    
                </div>
            </div>

            <!-- FAQ LOOP -->
            <div class="accordion faq-loop grey-header" id="faqAccordion">
                <div class="card">
                    <div class="card-header active-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne">
                            IOP - Introductory orientation Program
                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseOne" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            IOP - Introductory orientation Program
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header active-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne1">
                            MOP - Members orientation program
                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseOne1" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            MOP - Members orientation program
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header active-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne2">
                            LOP - Leadership orientation program
                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseOne2" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            LOP - Leadership orientation program
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header active-header">
                        <h6 class="collapsed" data-toggle="collapse" data-target="#collapseOne3">
                            TOP - Trainers  orientation program.
                            <span class="icons">
                                <i class="far fa-plus"></i>
                            </span>
                        </h6>
                    </div>

                    <div id="collapseOne3" class="collapse" data-parent="#faqAccordion">
                        <div class="card-body">
                            TOP - Trainers  orientation program.
                        </div>
                    </div>
                </div>
               
               
                
            
            </div>
            <!-- End Faq LOOP -->
        </div>
    </section>
    <!--====== Client Area End ======-->
    <app-footer1></app-footer1>